### Ques 1:

### Ans:

In [8]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Ques 2:

### Ans:

In [10]:
import pandas as pd
var = [1, 2, 5, 'Masood', 'Asif', 'Imad', 'Sameer','Faizan', 'Yusuf', 'PWSkills']
series = pd.Series(var)
print(series)

0           1
1           2
2           5
3      Masood
4        Asif
5        Imad
6      Sameer
7      Faizan
8       Yusuf
9    PWSkills
dtype: object

### Ques 3:

### Ans:

In [15]:
import pandas as pd

dict1 = {'Name': ['Alice','Bob','Claire'],
                  'Age' : [25,30,27],
                  'Gender': ['Female','Male','Female']
                 }
df = pd.DataFrame(dict1)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Ques 4:

### Ans: In pandas, a DataFrame is a two-dimensional labeled data structure that represents tabular data. It is similar to a table in a relational database or a spreadsheet, where data is organized in rows and columns. A DataFrame can hold heterogeneous data types, such as numbers, strings, and dates, within its columns.
### A pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type. It can be thought of as a single column of a DataFrame. A Series also has an index that labels each element of the series, allowing for easy access and alignment of data.

### Ques 5:

### Ans: There are numerous functions and methods available in pandas to manipulate data in a DataFrame. Some common functions include:
### head() and tail(): These functions allow you to view the top and bottom rows of the DataFrame, respectively. They are useful for quickly inspecting the data and getting a sense of its structure.
### info(): This function provides a summary of the DataFrame, including the column names, data types, and memory usage. It helps in understanding the overall data structure.
### describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles, for each numeric column. It provides insights into the distribution and summary statistics of the data.
### shape: This attribute returns the dimensions of the DataFrame as a tuple (rows, columns). It helps in understanding the size of the data.
### isnull() and notnull(): These functions allow you to identify missing or non-missing values in the DataFrame. They return a boolean mask indicating the presence or absence of null values in the data.
### dropna(): This function is used to remove rows or columns that contain missing values from the DataFrame. It helps in data cleaning and handling missing data.
### fillna(): This function is used to fill missing values in the DataFrame with specified values or strategies. It helps in data imputation and handling missing data.
### groupby(): This function is used for grouping the DataFrame based on one or more columns. It allows you to perform operations on grouped data, such as aggregations, transformations, or custom calculations.
### sort_values(): This function is used to sort the DataFrame based on one or more columns. It allows you to arrange the data in a specified order, either ascending or descending.
### apply(): This function is used to apply a custom function to each element, row, or column of the DataFrame. It enables custom data transformations and calculations.

### Ques 6:

### Ans: Series: A pandas Series is a one-dimensional labeled array that can hold data of any type. It is mutable, allowing you to modify individual values, add or remove elements, and change the index labels.
### DataFrame: A pandas DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is mutable, allowing modifications to the values, columns, and index labels. You can add or remove columns, modify existing values, and perform various operations to manipulate the data.
### Panel: A pandas Panel is a three-dimensional data structure that can hold multiple DataFrames. However, it is considered deprecated and no longer recommended for use in recent versions of pandas. Panels are immutable, meaning their values cannot be modified once they are created.

### Ques 7:

### Ans:

In [16]:
import pandas as pd

name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
city = pd.Series(['New York', 'London', 'Paris'])

data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris