## Ques 1:

### Ans:

In [1]:
import pandas as pd
data = pd.read_csv("diabetes.csv")

### reading first five rows of data
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
## getting all the information about data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [3]:
### Getting the shape of the data (Number of rows and columns)
data.shape

(768, 9)

In [4]:
### Finding if data has any missing values
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
### Give the column name of the data
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

## Ques 2:

### Ans:

In [8]:
import pandas as pd
data = {"A" : [1,2,3,4,5,6], 'B':["Math","Physics","chemistry","Social Sciences","Biology","Geology"],'C':[100,98,92,90,96,90]}
df = pd.DataFrame(data)

def reindex_dataframe(df):
    df = df.reset_index(drop=True)
    df.index = df.index * 2 + 1
    return df
reindex_dataframe(df)

    A                B    C
1   1             Math  100
3   2          Physics   98
5   3        chemistry   92
7   4  Social Sciences   90
9   5          Biology   96
11  6          Geology   90

## Ques 3:

### Ans:

In [14]:
import pandas as pd
data = {'values':[1,4,3,4,5,6,7]}
df = pd.DataFrame(data)

def sum_values(df):
    sum = 0
    count = 0
    for i in df.values:
        sum+=i
        count+=1
        if count==3:
            break
    print("Sum of the first three values: ", sum)
sum_values(df)

Sum of the first three values:  [8]

## Ques 4:

### Ans:

In [25]:
import pandas as pd
data = {'text':["My name is Masood", "It is going to rain soon", "I am a Data Scientist", "Where were you"]}
df = pd.DataFrame(data)

def word_count(df):
    df['word_count'] = df['text'].apply(lambda x: len(str(x).split()))
word_count(df)
df

                       text  word_count
0         My name is Masood           4
1  It is going to rain soon           6
2     I am a Data Scientist           5
3            Where were you           3

## Ques 5:

### Ans: DataFrame.size: The size attribute returns the total number of elements in the DataFrame. It is calculated by multiplying the number of rows (DataFrame.shape[0]) by the number of columns (DataFrame.shape[1]). The size attribute represents the total number of cells in the DataFrame, including both empty and non-empty cells.
### DataFrame.shape: The shape attribute returns a tuple that represents the dimensions of the DataFrame. It provides two values: the number of rows and the number of columns. It is accessed as DataFrame.shape[0] for the number of rows and DataFrame.shape[1] for the number of columns. The shape attribute does not consider the content of the DataFrame, only the structure.

## Ques 6:

### Ans: We use read_excel function of pandas to read excel file.

## Ques 7:

### Ans:

In [28]:
import pandas as pd
data = {'Email': ['ahamdmasood923@yahoo.in','sameer1233@gmail.com','fshakeel434@gmail.com']}
df = pd.DataFrame(data)
def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
extract_username(df)
df

                     Email        Username
0  ahamdmasood923@yahoo.in  ahamdmasood923
1     sameer1233@gmail.com      sameer1233
2    fshakeel434@gmail.com     fshakeel434

## Ques 8:

### Ans:

In [32]:
import pandas as pd
data = {'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df = pd.DataFrame(data)

def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df
select_rows(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Ques 9:

### Ans:

In [39]:
import pandas as pd
data = {'Values':[10, 15, 12, 18, 20, 25]}
df = pd.DataFrame(data)
mean = df['Values'].mean()
median = df['Values'].median()
std = df['Values'].std()
print("Mean of the Values is: ", mean)
print("Median of the Values is: ", median)
print("Standard deviation of the Values is: ", std)

Mean of the Values is:  16.666666666666668
Median of the Values is:  16.5
Standard deviation of the Values is:  5.501514942874068

## Ques 10:

### Ans:

In [41]:
import pandas as pd
data = {'Sales': [10, 15, 12, 18, 20, 25, 22, 17, 16, 19],
        'Date': pd.date_range(start='2022-01-01', periods=10)}
df = pd.DataFrame(data)

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

new_df = calculate_moving_average(df)
new_df

   Sales       Date  MovingAverage
0     10 2022-01-01      10.000000
1     15 2022-01-02      12.500000
2     12 2022-01-03      12.333333
3     18 2022-01-04      13.750000
4     20 2022-01-05      15.000000
5     25 2022-01-06      16.666667
6     22 2022-01-07      17.428571
7     17 2022-01-08      18.428571
8     16 2022-01-09      18.571429
9     19 2022-01-10      19.571429